# =========================
# Laravel / PHP
# =========================
/vendor
.env
.env.*
.phpunit.result.cache
.phpactor.json
/auth.json

# =========================
# Node / Frontend
# =========================
/node_modules
/npm-debug.log
/yarn-error.log

/public/build
/public/hot
/public/storage


!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore
/storage/app/data/*
!/storage/app/data/.gitignore

# =========================
# Cache / Logs
# =========================
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# =========================
# Testing
# =========================
/.phpunit.cache

# =========================
# Homestead
# =========================
Homestead.json
Homestead.yaml

# =========================
# IDE / Editor
# =========================
/.idea
/.vscode
/.fleet
/.nova
/.zed

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db