* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.js diff=javascript
*.jsx diff=javascript
*.json diff=json
*.xml diff=xml
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
