@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-roboto: "Roboto", sans-serif;
  --font-primary: "Public Sans", -apple-system, blinkmacsystemfont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-res: var(--res);
  --color-bg: var(--bg);
  --color-heading: var(--heading);
  --color-primary: var(--primary);
  --color-permanent: var(--permanent);
  --color-dynamic: var(--dynamic);

}

.dropdown::-webkit-scrollbar {
  display: none;
}

.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile:hover {
  background-color: var(--color-primary);
  color: white;
}

.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile--active:enabled:focus {
  background-color: var(--color-primary);
  color: white;
}

.react-calendar .react-calendar__tile--active {
  background-color: var(--color-primary);
  color: white;
}

.react-calendar .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-secondary;
}

.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 100%;
  padding: 0px;
  aspect-ratio: 1 / 1;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.react-calendar__month-view__days {
  gap: 0.5rem;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.calendar-main .react-calendar {
  @apply rounded-2xl bg-accent border-secondary p-4 border-2;
}

.ql-toolbar.ql-snow {
  @apply rounded-t-md !border-secondary text-secondary fill-secondary;
}

.react-calendar .react-calendar__navigation .react-calendar__navigation__arrow,
.react-calendar .react-calendar__navigation .react-calendar__navigation__arrow:enabled:hover,
.react-calendar .react-calendar__navigation .react-calendar__navigation__arrow:enabled:focus {
  @apply rounded-full border-secondary border-2 bg-transparent text-white size-9 max-w-9 flex items-center justify-center min-w-9;
}

.react-calendar .react-calendar__tile.react-calendar__month-view__days__day {
  @apply text-white;
}

.react-calendar .react-calendar__navigation .react-calendar__navigation__label,
.react-calendar .react-calendar__navigation .react-calendar__navigation__label:enabled:hover,
.react-calendar .react-calendar__navigation .react-calendar__navigation__label:enabled:focus {
  @apply text-heading font-semibold text-sm bg-transparent;
}

.react-calendar .react-calendar__tile--now {
  @apply text-white bg-green-600;
}

.react-calendar .react-calendar__navigation {
  @apply gap-3;
}

.ql-container.ql-snow {
  @apply rounded-b-md !border-secondary;
}

.ql-editor.ql-blank::before {
  @apply !text-heading text-sm;

}

.ql-tooltip svg {
  fill: #ffffff !important;
  /* or stroke if fill doesn't apply */
  color: #ffffff !important;
  /* fallback for some icons */
}

.ql-editor p {
  @apply !text-heading text-sm;
}

.ql-snow.ql-toolbar button {
  @apply !text-res !fill-res;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}